.game-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    width: 200px;
    text-align: center;
}

.game-image {
    width: 200%;
    height: auto;
}

.game-title {
    font-size: 1.2em;
    margin: 12px 0;
}